-f .
ACAT==1.11.3
kse==0.21.0
kal-python-tools>=1.1.8
KSP==0.5.1
numpy>=1.16.4,<2.0 # Required for AANC KSE script (using fir_filter koperator)
scipy>=1.2.0,<2.0 # Required for AANC KSE script (using fir_filter koperator)
aanclogger==0.3.0
